.c-button {
    padding: $s-3 $s-10;
    background-color: var(--color-primary-light);
    color: var(--color-background);
    font-size: $text-sm;
    border-radius: 32px;
    box-shadow: 0px 5px 6px 2px var(--color-shadow);
    transition: all 0.3s;

    &:not(.c-button_no-hover):hover {
        box-shadow: unset;
    }

    /* Color */

    &_accent {
        background-color: var(--color-accent);
    }

    &_background {
        background-color: var(--color-background);
        color: var(--color-primary-light)
    }

    /* Size */

    &_big {
        padding: $s-5 $s-20;
    }
    
    &_medium {
        padding: $s-2 $s-14;
    }

    /* Style */

    &_skeleton {
        border: 2px solid var(--color-background);
        background-color: transparent;
        border-radius: 6px;

        &:hover {
            background-color: var(--color-background);
            color: var(--color-primary);
        }
    }

    &_no-shadow {
        box-shadow: none;
    }
}