.c-block {
    max-width: 350px;
    
    &__title {
        display: flex;
        flex-direction: column;
        color: var(--color-primary);
        font-weight: bold;

        &::after {
            content: '';
            width: 50px;
            height: 4px;
            border-radius: 6px;
            background-color: var(--color-accent);
            margin: $s-6 0;
        }
    }

    &__text {
        color: var(--color-secondary);
    }
}