<section data-scroll-section class="hero o-section">
    <div class="o-container">
        <div class="o-flex-block !items-start">
            <div class="flex flex-col mt-8 md:mt-20" data-scroll data-scroll-speed="-8" data-scroll-position="top">
                <h1 class="font-bold text-primary mb-8">
                    Breeze <br class="xs:hidden"> throught <br> your next
                    <span
                        class="underline-offset-8 underline decoration-2 decoration-accent decoration-dashed">Test</span>
                </h1>
                <span class="text-secondary mb-12">
                    Get other students to teach you the coursework <br> you're working on.
                </span>
                <a class="w-fit c-button c-button_big c-button_accent"
                    href="https://github.com/Daniil8k/webpack-landing" target="_blank">
                    GET STARTED
                </a>
            </div>
            <div class="iphone-wrapper hidden relative xs:flex flex-col lg:mr-[5%]">
                <img width="400px" height="470px" src="@/assets/iphone.png" alt="">
                <div class="iphone-wrapper__shadow"></div>
            </div>
        </div>
        <footer class="mt-auto mx-auto flex flex-col gap-1 mb-4">
            <span class="text-sm text-primary font-medium">HOW IT WORKS</span>
            <hr class="h-1 w-[50px] mx-auto bg-primary rounded-md">
        </footer>
    </div>
</section>