<section data-scroll-section class="hero o-section">
    <div class="o-container flex flex-col">
        <div class="flex flex-wrap items-center justify-between">
            <div class="w-[25.5rem] flex flex-col mt-5">
                <h1 class="text-4xl font-bold text-primary mb-8">
                    Breeze throught your <br> next Test
                </h1>
                <span class="text-secondary mb-12">
                    Get other students to teach you the coursework you're working on.
                </span>
                <a class="w-fit c-button c-button_big c-button_accent" href="https://github.com/Daniil8k/webpack-landing"
                    target="_blank">
                    GET STARTED
                </a>
            </div>
            <div class="flex flex-col relative perspective-600">
                <img class="w-[25rem]" src="@/assets/iphone.png" alt="">
                <div class="iphone-shadow"></div>
            </div>
        </div>
        <footer class="mt-auto mx-auto flex flex-col gap-1 mb-4">
            <span class="text-sm text-primary font-medium">HOW IT WORKS</span>
            <hr class="h-1 w-[50px] mx-auto bg-primary rounded-md">
        </footer>
    </div>
</section>