<section data-scroll-section class="hero o-section">
    <div class="o-container flex flex-col">
        <div class="flex flex-wrap items-center">
            <div class="max-w-[350px] flex flex-col mb-5 mt-28 md:mt-0">
                <h1 class="text-4xl font-bold text-primary mb-8">
                    Breeze throught your next
                    <span
                        class="underline-offset-8 underline decoration-2 decoration-accent decoration-dashed">Test</span>
                </h1>
                <span class="text-secondary mb-12">
                    Get other students to teach you the coursework you're working on.
                </span>
                <a class="w-fit c-button c-button_big c-button_accent"
                    href="https://github.com/Daniil8k/webpack-landing" target="_blank">
                    GET STARTED
                </a>
            </div>
            <div class="iphone-wrapper ml-auto mb-12 flex flex-col relative">
                <img width="400px" height="470px" src="@/assets/iphone.png" alt="">
                <div class="iphone-wrapper__shadow"></div>
            </div>
        </div>
        <footer class="mt-auto mx-auto flex flex-col gap-1 mb-4">
            <span class="text-sm text-primary font-medium">HOW IT WORKS</span>
            <hr class="h-1 w-[50px] mx-auto bg-primary rounded-md">
        </footer>
    </div>
</section>