<section data-scroll-section class="o-section bg-background">
    <div class="o-container pb-8">
        {{> ../Stepper}}
        <div class="o-flex-block o-flex-block_around">
            <div class="c-block" data-scroll data-scroll-speed="-1" data-scroll-position="top">
                <h2 class="c-block__title">Let reputations do the talking</h2>
                <p class="c-block__text">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Libero
                    commodi, cum qui
                    iusto adipisci impedit excepturi rerum laborum consequuntur mollitia?
                </p>
            </div>
            <div class="relative z-10">
                {{> ../PersonCard}}
                <img class="absolute bottom-[-90px] right-[-100px] opacity-30 -z-10" src="@/assets/spot-4.svg"
                    data-scroll data-scroll-speed="3" data-scroll-position="top">
                <img class="absolute bottom-[-130px] right-[-140px] rotate-[60deg] -z-20" src="@/assets/spot-1.svg"
                    data-scroll data-scroll-speed="3" data-scroll-position="top">
            </div>
        </div>
    </div>
</section>