<header data-scroll-section class="header o-container o-container_row">
    <div class="flex items-center gap-1">
        <img width="36px" height="36px" src="@/assets/logo.svg" alt="">
        <span class="text-2xl text-primary font-[cursive]">Test</span>
    </div>
    <nav class="ml-auto flex items-center gap-6">
        <button id="theme-button" title="change theme">
            <svg class="h-6 w-6 dark:fill-[white]" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke="white"
                fill="none" stroke-width="1">
                <path stroke-linecap="round" stroke-linejoin="round"
                    d="M20.354 15.354A9 9 0 018.646 3.646 9.003 9.003 0 0012 21a9.003 9.003 0 008.354-5.646z" />
            </svg>
        </button>
        <a class="c-button c-button_skeleton" href="https://github.com/signup?source=login" target="_blank">SIGN UP</a>
    </nav>
</header>