<header data-scroll-section class="header o-container o-container_row">
    <div class="flex items-center gap-1">
        <img width="36px" height="36px" src="@/assets/logo.svg" alt="">
        <span class="text-lg text-primary font-[cursive]">Test</span>
    </div>
    <nav class="ml-auto">
        <button class="c-button c-button_skeleton">SIGN UP</button>
    </nav>
</header>