<div class="c-card person-card">
    <header class="person-card__header">
        <img class="row-span-full border-[1px] border-secondary-light rounded-[50%]" width="80px" height="80px"
            src="@/assets/person-1.jpg" alt="">
        <div>
            <span class="text-primary font-bold">Anna Johnson</span>
            <p class="text-xs leading-none font-bold text-primary-light">Freshman <span class="font-normal">at</span>
                Ball State <br> University</p>
        </div>
        <svg class="justify-self-end h-6 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
            fill="var(--color-danger)">
            <path fill-rule="evenodd"
                d="M3 6a3 3 0 013-3h10a1 1 0 01.8 1.6L14.25 8l2.55 3.4A1 1 0 0116 13H6a1 1 0 00-1 1v3a1 1 0 11-2 0V6z"
                clip-rule="evenodd" />
        </svg>
        <div class="flex flex-col gap-1">
            <div class="flex">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" viewBox="0 0 20 20" fill="var(--color-accent)">
                    <path
                        d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" viewBox="0 0 20 20" fill="var(--color-accent)">
                    <path
                        d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" viewBox="0 0 20 20" fill="var(--color-accent)">
                    <path
                        d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" viewBox="0 0 20 20" fill="var(--color-accent)">
                    <path
                        d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" viewBox="0 0 20 20" fill="var(--color-accent)">
                    <path
                        d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
                </svg>
            </div>
            <span class="text-xs font-bold">
                <span class="text-accent">5.0</span>
                <span class="text-secondary">(23 reviews)</span>
            </span>
        </div>
        <div class="justify-self-end flex items-center flex-col gap-1">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                stroke="var(--color-secondary)" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round"
                    d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-4l-4 4m0 0l-4-4m4 4V4" />
            </svg>
            <span class="text-xs text-secondary">3 files</span>
        </div>
    </header>
    <hr class="w-full h-[1px] bg-secondary-light">
    <div class="person-card__content">
        <span class="text-sm font-bold text-primary">Calculus 211</span>
        <span class="text-xs text-primary-light">I need help with derivatives</span>
    </div>
    <hr class="w-full h-[1px] bg-secondary-light">
    <footer class="person-card__footer">
        <div class="flex flex-col gap-1 bg-accent-light rounded-md p-2">
            <span class="text-accent text-xs">POTENTIAL EARNING</span>
            <span class="leading-none flex items-center text-accent">
                <span class="text-xs mr-1">$</span>
                <span class="font-bold leading-0">20</span>
                <span class="text-xs self-end">.99</span>
            </span>
        </div>
        <div class="text-xs text-primary-light">
            <span>Local Session</span>
            <hr class="my-3 w-full h-[1px] bg-secondary-light">
            <span>30 min interval</span>
        </div>
        <a href="https://github.com/Daniil8k/webpack-landing" target="_blank"
            class="c-button c-button_no-hover c-button_accent">MESSAGE</a>
        <a href="https://github.com/Daniil8k/webpack-landing" target="_blank"
            class="c-button c-button_no-hover">DISCARD</a>
    </footer>
</div>