<div class="c-stepper z-20">
    <div class="c-stepper__item">
        <div class="c-stepper__item-counter">01</div>
        <div class="c-stepper__item-title">Make a request on the help board</div>
        <div class="c-stepper__item-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Numquam, delectus?
        </div>
    </div>
    <div class="c-stepper__item">
        <div class="c-stepper__item-counter">02</div>
        <div class="c-stepper__item-title">Make a request on the help board</div>
        <div class="c-stepper__item-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Numquam, delectus?
        </div>
    </div>
    <div class="c-stepper__item">
        <div class="c-stepper__item-counter">03</div>
        <div class="c-stepper__item-title">Make a request on the help board</div>
        <div class="c-stepper__item-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Numquam, delectus?
        </div>
    </div>
</div>