<div class="c-stepper mb-4 z-20">
    <div class="c-stepper__item">
        <div class="c-stepper__item-counter">01</div>
        <h3 class="c-stepper__item-title">Make a request on the help board</h3>
        <p class="c-stepper__item-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Numquam, delectus?
        </p>
    </div>
    <div class="c-stepper__item">
        <div class="c-stepper__item-counter">02</div>
        <h3 class="c-stepper__item-title">Choose a Tudr based on their rating</h3>
        <p class="c-stepper__item-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Numquam, delectus?
        </p>
    </div>
    <div class="c-stepper__item">
        <div class="c-stepper__item-counter">03</div>
        <h3 class="c-stepper__item-title">Schedule a time and place</h3>
        <p class="c-stepper__item-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Numquam, delectus?
        </p>
    </div>
</div>