@font-face {
    font-family: 'Roboto';
    src: url('@/assets/fonts/Roboto-Regular.ttf') format('truetype');
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--color-input);
    overflow-x: hidden;
    
    @media screen and (min-width: $lg) {
        overflow: hidden;
    }
}