/* Theme */
:root {
    --color-background: #FFFFFF;

    --color-primary: #2B426C;
    --color-primary-light: #7680A4;

    --color-secondary: #A2A2A4;
    --color-secondary-light: #E6E6E6;

    --color-accent: #FF902D;
    --color-accent-light: #FFF1E7;
    
    /* other colors */
    --color-input: #000000;
    --color-scroll-thumb: #1C1D21;
    --color-danger: #FE290B;
    --color-shadow: rgba(59, 59, 59, 0.1);
}